@import "tailwindcss";

@plugin "daisyui"{
    themes: [
        "midnight",
        "bumblebee",
        "dark",
    ];
    darkTheme: "midnight";
    lightTheme: "midnight";
}
@plugin "daisyui/theme" {
  name: "midnight";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #0f172a;
  --color-base-200: #1e293b;
  --color-base-300: #334155;
  --color-base-content: #f8fafc;
  --color-primary: #38bdf8;
  --color-primary-content: #0f172a;
  --color-secondary: #818cf8;
  --color-secondary-content: #0f172a;
  --color-accent: #2dd4bf;
  --color-accent-content: #0f172a;
  --color-neutral: #1e293b;
  --color-neutral-content: #f8fafc;
  --color-info: #38bdf8;
  --color-info-content: #0f172a;
  --color-success: #4ade80;
  --color-success-content: #0f172a;
  --color-warning: #fbbf24;
  --color-warning-content: #0f172a;
  --color-error: #f87171;
  --color-error-content: #0f172a;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer base {
    .sin-reset * {
        margin: auto;
    } 
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
    background-attachment: fixed;
    min-height: 100vh;
    color: #f8fafc;
}


.border-detail {
    border-color: #10B981;
}
.hover-detail:hover {
    color: #F59E0B;
}
.active-link {
    color: #4F46E5;
    font-weight: 600;
}
